<div class="row">
  <div class="col-lg-4 form-div reg-form">
      <form method="Post" action="/profile" class="submit-form">
      <input type="hidden" name="_method" value="PUT">
      <div class="form-body">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="<%= user.username %>" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="<%= user.email %>"  class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="passwordConfirmation">Password Confirmation</label>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation" class="form-control" required>
      </div>
  </div>
  <div class="login-reg-div">
      <button class="button-styles">Register</button>
  </div>
    </form>
  </div>
</div>
