<section id="profileEdit">
  <div class="columns">
    <div class="column is-3 is-offset-2 form-div reg-form">
        <form method="Post" action="/profile" class="submit-form">
        <input type="hidden" name="_method" value="PUT">
        <div class="field">
          <input type="text" class="input" name="username" id="username" value="<%= user.username %>" class="form-control" placeholder="Username" required>
        </div>
        <div class="field">
          <input type="email" class="input" name="email" id="email" value="<%= user.email %>"  class="form-control" placeholder="Email" required>
        </div>
        <div class="field">
          <input type="password" class="input" name="password" id="password" placeholder="Password"required>
        </div>
        <div class="field">
          <input type="password" class="input" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation" required>
        </div>
    <div class="submit">
        <button class="button infoy">Submit</button>
    </div>
      </form>
    </div>
  </div>

</section>
