<section id="registerScreen">
  <div class="columns">
    <div class="column is-3 is-offset-2 form-div reg-form">
      <h1>Register</h1>
        <form method="POST" action="/register" class="submit-form">
      <div class="field">
        <div class="control">
          <input type="text" name="username" id="username" class="input" placeholder="Username">
        </div>
      </div>
        <div class="field">
          <input type="text" name="email" id="email" class="input" placeholder="Email">
        </div>
        <div class="field">
          <input type="password" name="password" id="password" class="input" placeholder="Password" >
        </div>
        <div class="field">
          <input type="password" name="passwordConfirmation" id="passwordConfirmation" class="input" placeholder="Password Confirmation">
        </div>
      <div class="submit">
        <button id="regButton" class="button is-black">Register</button>
      </div>
      </form>
    </div>
  </div>

</section>
