<section id="profilePage">
  <div class="columns">
    <div class="column is-3 is-offset-2 form-div reg-form">
      <h1><%= user.username %></h1>
      <h4><%= user.firstName %></h4>
      <h4><%= user.lastName %></h4>
      <p><%= user.email %></p>
      <div class="prof-btn">
        <a href="/profile/edit" class="button is infoy">Edit</a>
        <form method="POST" action="/profile">
      </div>
      <div class="prof-btn">
        <input type="hidden" name="_method" value="DELETE">
        <button class="button dangery">Delete</button>
      </div>
      </form>
    </div>
  </div>
</section>
