<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/sets">Sets</a>
      </li>
      <% if (!locals.isLoggedIn) { %>
        <li>
        <a href="/register">Register</a>
        </li>
        <li>
        <a href="/login">Login</a>
        </li>
        <% } else { %>
          <li>
          <a href="/logout">Logout</a>
          </li>
          <li>
          <a href="/profile">Profile</a>
          </li>
          <% } %>
        </ul>
      </nav>
    </head>

  </header>
