<h1>Edit The Set</h1>

<form method="POST"class="col-lg-4 submit-form"  action="/sets/<%= set.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div class="form-group">
    <label>name</label>
    <input type="text" class="form-control" name="name" id="nameInput" placeholder="Set Name" >
  </div>
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>
