<section id="setEdit">
  <div class="columns">
    <div class="column is-3 is-offset-2 form-div">
      <h1>Edit The Set</h1>
      <form method="POST"class="submit-form"  action="/sets/<%= set.id %>">
        <input type="hidden" name="_method" value="PUT">
        <div class="field">
            <input type="text" class="input" name="name" id="nameInput" placeholder="Set Name">
        </div>
        <div class="submit">
          <button type="submit" class="button is-black">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
