<h1>set create</h1>
<!-- form for adding new entry to db-->
<form class="col-lg-4" name="_method" method="POST" action="/sets">
  <div class="form-group">
    <label>name</label>
    <input type="text" class="form-control" name="name" id="nameInput" placeholder="Set Name">
  </div>
  <div class="form-group">
    <label>Date</label>
    <input type="text" class="form-control" name="date"id="dateInput" placeholder="YYYY/MM/DD">
  </div>
  <div class="form-group">
    <label>tracks</label>
    <input type="text" class="form-control" name="tracks" id="tracksInput" placeholder="tracks">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>
