<section is="setCreate">
  <div class="columns">
    <div class="column is-3 is-offset-2 form-div">
      <h1>set create</h1>
      <form class="submit form" name="_method" method="POST" action="/sets">
          <div class="field">
            <input type="text" class="input" name="name" id="nameInput" placeholder="Set Name">
          </div>
          <div class="field">
            <input type="text" class="input" name="date"id="dateInput" placeholder="DD/MM/YYYY">
          </div>
          <div class="submit">
            <button type="submit" class="button infoy">Submit</button>
          </div>
      </form>
    </div>
  </div>
</section>
