<section id="splashPage">
  <div class="splashTitle">
    <h1>Mix Tape</h1>
    <div class="mainDesc">
      <p>A song suggestion app for YouTube DJs. Enter a song to get a match with the same vibe. Stack your tracks in a video playlist so you can keep the party going or save them to your setlist to share with your friends. </p>
    </div>
  </div>
</section>
