<!-- The login page, called session refering to the session cookie-->
<section id="loginScreen">
  <div class="columns">
    <div class="column is-3 is-offset-2 form-div">
      <h1>Login</h1>

        <form method="POST" action="/login" class="submit-form">
          <div class="field">
            <div class="control">
              <input type="text" name="email" id="email" class="input" placeholder="Email">
            </div>
          </div>
            <div class="field">

              <div class="control">
                <input type="password" name="password" id="password" class="input" placeholder="Password">
              </div>
            </div>
          <div class="field">
            <div class="control submit">
              <button class="button is-black">Login</button>
              <a href="<%=oauth.facebook.getLoginUrl() %>" target="_blank" class="button is-black">Login with Facebook</a>
            </div>
          </div>
        </form>
    </div>
  </div>
</section>
