<!-- The login page, called session refering to the session cookie-->
<div class="row">
  <div class="col-lg-4 form-div">
    <h1>Login</h1>
      <form method="POST" action="/login" class="submit-form">
        <div class="form-body">
          <div class="form-group">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
          </div>
        </div>
        <div class="login-div">
          <button class="button-styles">Login</button>
          <a href="<%=oauth.facebook.getLoginUrl() %>" target="_blank" class="button-styles fb">Login with Facebook</a>
        </div>
      </form>
  </div>
</div>
