body {
  background-color: white;
}

ul {
  list-style-type: none;

  .setname {
    font-size: 50px;
    color: crimson;
  }
  .setdate {
    color: dodgerBlue;
  }
}

.colomns {
  float: left;
}

.has-error {
  border-color: crimson;
}
.error-throw{
  color: crimson;
}
.moviediv {
  height: 200px;
  width: 200px;
  background-color: grey;
}
