// @import "bootstrap/bootstrap-grid";
$primary: rgba(20, 20,20, 0.8);
$secondary: black;
$tertiary: #4C56B5;

* {
  font-family: 'Rajdhani', sans-serif;
}

.header-styles {
  font-size: 30px;
  padding: 8px;
  text-align: center;
}

.button-styles {
  a {
    width: 30%;
    margin-left: 8px;
  }
}
body {
  margin-top: 20px;
  height: 100vh;
  background-color: $secondary;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 60px;
  background-color: $primary;
  nav {
    margin-top: 8px;
    font-size: 30px;
    ul li {
      display: inline;
      a {
        text-decoration: none;
        padding: 20px 50px;
        color: white;
      }
    }
  }
}
.main {
  h1 {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F75C03;
  }
}
section {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/tape-deck.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dangery {
  background-color: $tertiary;
  border: none;
  color: black;
  font-weight: bold;
}

.infoy {
  background-color: #B0ACA9;
  border: none;
  color: black;
  font-weight: bold;
}

.newey {
  background-color: #5098B2;
  border: none;
  color: black;
  font-weight: bold;
}
#setShowPage {
  .setList {
    background-color: $primary;
    font-size: 25px;
    height: 500px;
    border-radius: 0 20px;
    margin-top: 100px;
    overflow: auto;
    // width: 20%;
    h4{
      @extend .header-styles;
    }
    .ps{
      display: block;
      font-size: 22px;
      padding: 10px;

    }
  }
  .nowPlaying {
    margin-top: 88px;
    background-color: $primary;
    border-radius: 0 20px;
    height: 200px;
    h4 {
      @extend .header-styles
    }
    #content {
    width: 95%;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    opacity: 0.9;
    }
    .controls {
      a {
        width: 30%;
        margin-left: 8px;
      }
      button {
        width: 30%;
        margin-left: 8px;
        font-size: 15px;
        height: 36px;
        font-weight: lighter !important;
        background-color: #B0ACA9;
        border: none;
        color: black;
      }
    }

  }
  .upNext {
    margin-top: 112px;
    background-color: $primary;
    border-radius: 0 20px;
    height: 250px;

    .up-next {
      @extend .header-styles;
    }

    .suggestion {
      height: 120px;
      #result {
        @extend .header-styles;
        color: $tertiary;
        font-weight: bold;
      }
    }
    .cue-div{
      .button {
        left: 66%;
        width: 30%;
      }
    }
  }

  .movie-container {
    height: 400px;
    overflow: auto;
    margin-top: 88px;
    border-radius: 0 20px;
    background-color: $primary;
    .moviediv {
      height: 200px;
      width: 300px;
    }
  }

  .setTitle {
    margin-top: 12px;
    background-color: $primary;
    border-radius: 0 20px;
    height: 200px;
    ul {
      list-style: none;
      .setname {
        @extend .header-styles;
        padding: 10px;
      }
      .setdate, .setuser {
        font-size: 20px;
        padding-left: 10px;
      }
    }
    .button {
      left: 33%;
      width: 30%;
    }
  }





}

.form-div {
  background-color: #1B264F;
  border-radius: 10px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  .form-control {
    width: 90%;
    font-size: 25px;
  }
  .form-body {
    height: 260px;

    .login-div {
      margin-top: 70px;
      position: relative;
      }
  }

  .button-styles {
    font-size: 20px;
  }

}

.sets-index-main {
  background-color: $primary;
  border-radius: 10px;
  overflow: auto;
  height: 400px;
  margin-top: 200px;
  font-size: 30px;
  h1 {
    @extend .header-styles;
  }
  ul {
    list-style: none;
    li {
      display: inline;
      a {
        @extend.button-styles;
        margin: 10px;
        width: 130px;
      }
    }
  }
  .spanny {
    width: 130px;
    margin-left: 10px;
      a {
        width: 130px;
      }
    }

}


.reg-form {
  font-size: 20px;
  padding: 15px;
  height: 550px;

  .form-control {
    margin: 5px;
  }
  .login-reg-div {
    margin-top: 150px;
    position: relative;
    }
}

.prof-btn {
  margin-top: 20px;
}









.has-error {
  border-color: DeepPink;
}
.error-throw{
  color: DeepPink;
  font-size: 20px;
}
