// @import "bootstrap/bootstrap-grid";
$primary: #272727;
$secondary: black;
$tertiary: #111933;

* {
  font-family: 'Rajdhani', sans-serif;
}

.header-styles {
  font-size: 30px;
  padding: 8px;
}

body {
  margin-top: 20px;
  height: 100vh;
  background-color: $secondary;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 60px;
  background-color: $primary;
  nav {
    margin-top: 8px;
    font-size: 30px;
    ul li {
      display: inline;
      a {
        text-decoration: none;
        padding: 20px 50px;
        color: white;
      }
    }
  }
}
.main {
  h1 {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F75C03;
  }
}

#setShowPage {
  .setList {
    background-color: $primary;
    font-size: 25px;
    height: 500px;
    border-radius: 5px;
    margin-top: 100px;
    h4{
      font-size: 40px;
      padding: 10px;
    }
    .ps{
      display: block;
      font-size: 22px;
      padding: 10px;

    }
  }
  .nowPlaying {
    margin-top: 100px;
    background-color: $primary;
    border-radius: 10px;
    height: 180px;
    width: 100%;
    font-size: 30px;
    h4 {
      @extend .header-styles
    }
    #content {
    width: 80%;
    margin: 10px;
    padding: 5px;
    font-size: 25px;
    }

  }
  .upNext {
    margin-top: 100px;
    background-color: $primary;
    border-radius: 5px;

    .up-next {
      color: white;
    }

    .suggestion {
      height: 200px;

      #result {
        font-size: 50px;
        color: #F75C03;
      }

      .cue-div{
        position: relative;
        top: 600px;
      }
    }
  }
  .setTitle {
    margin-top: 100px;
    background-color: $primary;
    border-radius: 5px;
    height: 250px;

    ul {
      list-style: none;
      margin-left: -30px;

      .setname {
        font-size: 50px;
        padding: 10px;
      }
      .setdate {
        font-size: 20px;
      }
      .setuser {
        font-size: 20px;
      }
    }
    .button-styles {
      display: block;
      width: 70px;
    }

  }


    .movie-container {
      height: 400px;
      overflow: auto;
      margin-top: 20px;
      background-color: $primary;
      .moviediv {
        height: 200px;
        width: 300px;
      }
    }


}

.form-div {
  background-color: #1B264F;
  border-radius: 10px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  .form-control {
    width: 90%;
    font-size: 25px;
  }
  .form-body {
    height: 260px;

    .login-div {
      margin-top: 70px;
      position: relative;
      }
  }

  .button-styles {
    font-size: 20px;
  }

}

.sets-index-main {
  background-color: #1B264F;
  border-radius: 10px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;

  ul {
    list-style: none;

    li {
      height: 100px;
      display: inline;
      a {
        text-decoration: none;
        color: #F75C03;
        @extend.button-styles;
        float: left;

      }

    }

  }

}
.button-set {
  float: left;
}

.reg-form {
  font-size: 20px;
  padding: 15px;
  height: 550px;

  .form-control {
    margin: 5px;
  }
  .login-reg-div {
    margin-top: 150px;
    position: relative;
    }
}

.prof-btn {
  margin-top: 20px;
}









.has-error {
  border-color: DeepPink;
}
.error-throw{
  color: DeepPink;
  font-size: 20px;
}
